body{

    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.nav{
    height: 50px;
    width: 100%;
    background-color:rgb(178, 218, 79);
    position: absolute;
    z-index: 2;
    position: fixed;

}

.list{
    
    height: 40px;
    width: 50%;
    word-spacing: 40px;
    text-align: center;
    position: absolute;
    z-index: 5;
    margin-left: 500px;
    position: fixed;
   
}
.list li{
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    display: inline;
}

.background{
    height: 100%;
    width: 100%;
    background-image: url(./‫image/1.jpg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: sticky;
    top: 0px;    

}
.back{
    height: 300px;
    width:  100%;
    background-color: antiquewhite;
    /* background-image: url(./‫image/golden_gate_bridge_marshall_beach-wallpaper-5120x2880.jpg); */
    /* background-size: cover;
    background-repeat: no-repeat; */
    position: sticky; 
    text-align: center;
    overflow: scroll;
    opacity: .5;
    
}

.back .h1{
    font-size: 50px;
    
}
.back .p1{
    font-size: 35px;    
}

.nature{
    height: 100%;
    width:  100%;
    background-color: antiquewhite;
    background-image: url(./‫image/armenia_syunik_khustup_k7_hayk_3-wallpaper-3840x1600.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: sticky;
    top: 0px;

}
/* 
.back1{ 
    height: 300px;
    width:  100%;
    background-color: antiquewhite;
    /* background-image: url(./‫image/golden_gate_bridge_marshall_beach-wallpaper-5120x2880.jpg); */
    /* background-size: cover;
    background-repeat: no-repeat; */
    /* position: sticky; 
    text-align: center;
    overflow: scroll;
    opacity: .6;
    
}

.back1 .h1{
    font-size: 50px;

    
}
.back1 .p1{
    font-size: 35px;    
} */    