
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

.back{
    height: 100vh;
    background-image: url(./img/back.jpg);
    background-size: 100%;
    background-position: top ;
    background-repeat: no-repeat;
    

}
.navbar-fixed-top{
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: 0%;
    /* position: fixed; */
}

.nav{
    font-size: 17px;
    font-weight: bold;
}
.nav li a{
    color: orange;
}
.navbar-header .navbar-brand{
    color: rgb(200, 224, 64);
    font-weight: bolder;
    font-size: 30px;    
    font-family: cursive;
}
.container{
    height: 80vh;
    margin-top: 80px;
    background-color: rgba(255,255,255, 0.2);
}
.bt{
    height: 15vh;
    /* border: 2px solid red; */
  
}
.bt2 .btn{
    height: 8vh;
    width: 40%;
    background-color: rgb(200, 224, 64);
    color: black;
    font-size: 18px;
    font-weight: bold;
}

/* page2 */
.back2{
    height: 100vh;
    background-image: url(./‫image/back.jpg);
    background-size: cover;
    /* border: 2px solid red; */
}

.container1{
    padding: 50px 35px;
    height: 90vh;
    /* border: 2px solid greenyellow; */
    font-size: 20px;
}
.back21{
    /* border: 2px solid green; */
    height: 90vh;
    background-image: url(./img/about.png);
    background-position: left;
    background-size: cover;
}
.container1 .btn3{
    /* color: black; */
    background-color: rgb(200, 224, 64);
    font-weight: bold;
}

/* our services */

.back3{
    height: 100px;
    border: 2px solid greenyellow;
}


/* contact us  */

.a{
    height: 100vh;
    background-image: url(./img/cute.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 }

.containerc{
    height: 70vh;
    background-color: rgb(255, 255, 255,.7);
    box-shadow: 1px 2px 10px rgb(235, 202, 124);
    margin-top: 80px;
}
.h1{
    text-align: center;
}



.p1{
    height: 100px;
    background-color: aquamarine;
}